h2{ 
    font-family: 'Reggae One', cursive;
    display:flex;
    justify-content:center;
    color:orange;
}
body{
 background-color:rgb(235,235,235);
}
h3{
 font-family: 'Reggae One', cursive;
}
p{
font-family: 'Aclonica', cursive;
}
strong{
color:red;
}
img{
width:200px;
}
.details{
 display:flex;
    justify-content:flex-end;
}
h3{
    background-color:rgb(230,230,230);
}